$navbar-dark-color: #fefae0;
$primary: #fefae0;

@import "../node_modules/bootstrap/scss/bootstrap";
@font-face {
  font-family: Custom-MainLayer;
  src: url("./Custom-MainLayer.ttf");
}
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
#app {
  height: 100vh;
}

header {
  font-family: "Custom-MainLayer";
  font-size: 500%;
  display: flex;
  justify-content: center;
}
.img-fluid {
  width: 75%;
  height: auto;
  border-radius: 100%;
  -webkit-box-shadow: 27px 17px 32px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 27px 17px 32px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 20px 23px 1px rgba(117, 77, 37, 0.25);
}
/*classpython adds
 #1 Define. custom5 padding classrem
 of. paddingpy to- the5 top { of
 an  elementpadding and-top removes: any  padding1 from. the5 bottomrem. ! Theimportant `; !#important In`cre declarationase ens topures padding that
 these  stylespadding take- precedbottom:ence  over0 anyrem other ! conflicimportantting; styles .#*/
.py-5 {
  padding-top: 1.5rem !important;
  padding-bottom: 0rem !important;
}
.flex-column {
  background-color: #fefae0;
  background-image: linear-gradient(360deg, hsl(30, 86%, 62%), #d4a373 39%);
  flex-direction: column !important;
  color: #fefae0;
  font-family: "Roboto Condensed";
}
.btn-outline-secondary {
  --bs-btn-color: #fefae0;
  --bs-btn-border-color: #fefae0;
  --bs-btn-hover-color: #d4a373;
  --bs-btn-hover-bg: #fefae0;
  --bs-btn-hover-border-color: #fefae0;
  --bs-btn-focus-shadow-rgb: 108, 117, 125;
  --bs-btn-active-color: #d4a373;
  --bs-btn-active-bg: #fefae0;
  --bs-btn-active-border-color: #fefae0;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fefae0;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #fefae0;
}
a {
  text-decoration: none;
}
a:hover {
  color: #fefae0;
}
.btn-primary {
  --bs-btn-color: #d4a373;
  --bs-btn-bg: #fefae0;
  --bs-btn-border-color: #fefae0;
  --bs-btn-hover-color: #fefae0;
  --bs-btn-hover-bg: #d1ccac00;
  --bs-btn-hover-border-color: #fefae0;
  --bs-btn-focus-shadow-rgb: 60, 197, 145;
  --bs-btn-active-color: #d4a373;
  --bs-btn-active-bg: rgba(126, 251, 204, 0.8304);
  --bs-btn-active-border-color: rgba(102, 251, 194, 0.8092);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #d4a373;
  --bs-btn-disabled-bg: #fefae0;
  --bs-btn-disabled-border-color: #fefae0;
}
.lead {
  font-size: 1rem;
  line-height: 20px;
}
.row {
  justify-content: flex-end;
}
.d-flex {
  display: flex !important;
  height: 100%;
}
